$base: #df691a;
$black: #473d37;
$gray0: #f9f9f8;
$gray1: #efeceb;
$gray2: #e4dfdd;
$gray3: #d8d1cd;
$gray4: #cac2bc;
$gray5: #bbb0a9;
$gray6: #ab9d94;
$gray7: #96857a;
$gray8: #79685e;
$gray9: #473d37;
$orange0: #fbeee5;
$orange1: #f7dbc9;
$orange2: #f3c7a9;
$orange3: #edaf85;
$orange4: #e79157;
$orange5: #df691a;
$orange6: #c95e17;
$orange7: #b05314;
$orange8: #914410;
$orange9: #68310c;
$yellow0: #faf8e0;
$yellow1: #f6f0bf;
$yellow2: #f1e89c;
$yellow3: #ebdf75;
$yellow4: #e5d64a;
$yellow5: #dfcb1a;
$yellow6: #c9b717;
$yellow7: #b1a114;
$yellow8: #938611;
$yellow9: #6a610c;
$lime0: #f0fae1;
$lime1: #e1f6c2;
$lime2: #d0f19f;
$lime3: #beec79;
$lime4: #a8e64d;
$lime5: #90df1a;
$lime6: #82c917;
$lime7: #72b114;
$lime8: #5f9311;
$lime9: #446a0c;
$green0: #e8fbe6;
$green1: #cff7ca;
$green2: #b2f3ab;
$green3: #90ee86;
$green4: #67e758;
$green5: #2edf1a;
$green6: #29c917;
$green7: #24b114;
$green8: #1e9311;
$green9: #166a0c;
$teal0: #e5fbee;
$teal1: #caf7dc;
$teal2: #aaf3c7;
$teal3: #85eeaf;
$teal4: #58e791;
$teal5: #1adf69;
$teal6: #17c95f;
$teal7: #14b153;
$teal8: #119345;
$teal9: #0c6a32;
$cyan0: #e5fbf9;
$cyan1: #c9f7f2;
$cyan2: #a9f3eb;
$cyan3: #84ede3;
$cyan4: #56e7d8;
$cyan5: #1adfcb;
$cyan6: #17c9b7;
$cyan7: #14b1a1;
$cyan8: #119386;
$cyan9: #0c6a61;
$blue0: #e5f2fb;
$blue1: #c9e4f7;
$blue2: #a9d5f3;
$blue3: #84c3ed;
$blue4: #56ade7;
$blue5: #1a90df;
$blue6: #1782c9;
$blue7: #1471b0;
$blue8: #105e91;
$blue9: #0c4367;
$indigo0: #eaecfc;
$indigo1: #d2d6f8;
$indigo2: #b8bef5;
$indigo3: #97a0f0;
$indigo4: #6c79ea;
$indigo5: #1a2edf;
$indigo6: #1729c8;
$indigo7: #1424ae;
$indigo8: #101d8e;
$indigo9: #0b1463;
$violet0: #f1eafc;
$violet1: #e2d3f8;
$violet2: #d0b8f5;
$violet3: #bb97f0;
$violet4: #9f6cea;
$violet5: #691adf;
$violet6: #5e17c8;
$violet7: #5214af;
$violet8: #43108f;
$violet9: #2f0b64;
$fuschia0: #faeafc;
$fuschia1: #f5d3f8;
$fuschia2: #eeb8f5;
$fuschia3: #e797f0;
$fuschia4: #dd6cea;
$fuschia5: #cb1adf;
$fuschia6: #b717c9;
$fuschia7: #a014b0;
$fuschia8: #851192;
$fuschia9: #5f0c68;
$pink0: #fceaf5;
$pink1: #f8d3e9;
$pink2: #f5b8dc;
$pink3: #f098cd;
$pink4: #ea6db8;
$pink5: #df1a90;
$pink6: #c91782;
$pink7: #b01472;
$pink8: #92115e;
$pink9: #690c43;
$red0: #fceaec;
$red1: #f9d4d7;
$red2: #f5b9bf;
$red3: #f099a2;
$red4: #ea6f7b;
$red5: #df1a2e;
$red6: #c91729;
$red7: #b01424;
$red8: #92111e;
$red9: #680c15;
