@import "variables";
@import "global";

#team {
  @include hero-background("../../static/images/team.jpg", 1);

  .hero-body {
    background-color: rgba(31, 45, 59, 0.85);

    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 6rem;
      background-color: $dark;
      border-top: $pink3 3px solid;
      border-bottom: $orange3 3px solid;
    }

    .tile {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1.5rem;
      @include fade-in(1, 1s);

      .card {
        background-color: transparent;
        border-radius: $radius;

        .card-header {
          border-top: $blue3 3px solid;
          border-bottom: $blue9 3px solid;
        }
      }
    }
  }
}
