@import "global";

/******************
* Section Styling *
******************/
#opener {
  @include hero-background("../../static/images/sushi.jpg");

  .hero-body {
    .column {
      padding: 5%;
      background: $dark;
      border-radius: $radius;
      @include fade-in(0.9, 0.5s);
    }
  }
}

#map {
  @include hero-background("../../static/images/map.jpg");

  .hero-body {
    .column.right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10%;
      background: darken($blue9, 15);
      opacity: 0.9;

      hr {
        background-color: $cyan3;
      }
    }
  }
}

#track {
  @include hero-background("../../static/images/list.jpg");

  .hero-body {
    .column {
      padding: 5%;
      background: $dark;
      border-radius: $radius;
      opacity: 0.9;

      hr {
        background-color: $violet3;
      }
    }
  }
}

#decide {
  @include hero-background("../../static/images/sad.jpg");

  .hero-body {
    .column.right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10%;
      background: darken($blue9, 15);
      opacity: 0.9;

      hr {
        background-color: $yellow3;
      }
    }
  }
}
